@import "../../variables";

.films {
  padding: 0 10em;
  background-color: $dark-grey;

  &__list {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__count {
    color: $white;
    padding: 1em 0;
  }
}
