@import "../../variables";

.film-item {
  display: flex;
  background-color: $dark-grey;
  margin-top: 80px;
  color: $white;

  &__img {
    margin: 30px;
    width: 280px;
    flex-shrink: 0;
  }

  &__info {
    margin: 30px;
  }

  &__title-and-raiting h1 {
    color: $white;
    margin-bottom: 1em;
    font: 100 32px Arial;
  }

  &__release-date {
    color: $light-grey;
    margin-bottom: 0.5em;
  }

  &__release-date span {
    color: $pink;
  }

  &__overview {
    color: var(--white-color);
  }
}
